html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url("/background.jpg") no-repeat center center;
  background-size: cover;
}

.register-form {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-align: center;
  width: 400px;
  position: relative;
}
.register-form::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
  background: rgba(43, 93, 158, 0.2);
  border-radius: 50%;
}

.register-form::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  background: rgba(43, 93, 158, 0.2);
  border-radius: 50%;
}

.register-title {
  font-size: 24px;
  font-weight: 600;
  color: #2b5d9e;
  margin-bottom: 10px;
}

.register-subtitle {
  font-size: 12px;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 14px;
}

.register-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2b5d9e;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.register-button:hover {
  background: #1f4c7a;
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px rgba(43, 93, 158, 0.3);
}

.register-button:active {
  transform: scale(0.98);
}

.register-text {
  font-size: 14px;
  margin: 20px 0 10px;
}

.login-link {
  color: #2b5d9e;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.register-input {
  width: 95%;
  padding: 12px;
  margin: 8px 0;
  background: #eee;
  border: none;
  border-radius: 5px;
}

.register-input.has-error {
  border: 1px solid red; 
}

.register-input::after {
  content: attr(placeholder);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: red;
  font-size: 12px;
  visibility: hidden; 
}

.register-input.has-error::after {
  visibility: visible;
}
 
.error-text {
  color: red;
  font-size: 12px;
}

.register-input-container{
  display: flex;
  flex-direction: column;
  align-items: start;
}


